body {
	background:#fff;
	color:#333333;
	font-family:"微软雅黑", Verdana, sans-serif;
}
div, ul, li, form, h1, h2, h3, h4, h5, h6, p, span {
	padding:0;
	margin:0;
	list-style-type:none;
}
form {
	overflow:hidden
}
/*分页*/
#pageres {
	width:600px;
	text-align:center
}
#pageres a {
	background: none repeat scroll 0 0 #eef6ff;
	border: 1px solid #0066cc;
	color: #0066cc;
	height: 25px;
	line-height: 25px;
	margin: 0 2px;
	overflow: hidden;
	padding: 0 5px;
	text-decoration: none;
}
#pageres2 {
    width:650px;
    text-align:center
}
#pageres2 a {
    background: none repeat scroll 0 0 #eef6ff;
    border: 1px solid #0066cc;
    color: #0066cc;
    height: 25px;
    line-height: 25px;
    margin: 0 2px;
    overflow: hidden;
    padding: 0 5px;
    text-decoration: none;
}
#mainbody {
	width:960px;
	min-height:50px;
	height:auto;
	margin:0 auto
}
#mainbody .leftbar {
	width:200px;
	float:left;
	background-color:#0066CC;
	min-height:500px;
}
#mainbody .rightbar {
	width:755px;
	float:left;
	margin-left:3px;
	border: 1px solid #09F;
	background-color:#FFFFFF;
	height:auto; min-height:700px;
}
.clear {
	clear:both;
	font-size:1px;
	width:1px;
	visibility: hidden;
	padding:0;
	margin:0;
}

/*网站头部*/
.topleft2 {
    POSITION: relative; WIDTH: 100%; min-width:1024; FLOAT: left; HEIGHT: auto !important; LEFT: 0px;
}
.topleft3 {
    POSITION: relative; WIDTH: 130px; FLOAT: left; HEIGHT: auto !important; LEFT: 20px;
}
.topheaderR {
    LEFT: -120px;PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 120px; height: 20px;  PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 30px; text-align:left;
}

/*首页*/
.titlepr {height:30px;line-height:15px;text-align:center;width:70px;
    
}
/*产品页*/
.titlepr2 {height:30px;line-height:15px;text-align:center;width:72px;

}
/*注册页面*/


.registerbody .tab {
	border-bottom: 1px solid #93b5db;
	height: 29px;
	margin: 25px;
	overflow: visible;
	padding-left: 100px;
}
.registerbody .tab li {
	color: #f79100;
	font-size: 14px;
	height: 27px;
	line-height: 27px;
	float:left;
	padding-top: 3px;
	text-align: center;
	width: 102px;
}
.registerbody .tab .line {
	background: url("bg_shortcut_line.jpg") no-repeat scroll right 7px transparent;
}
.registerbody .tab .curr {
	background: url("bg_regist.jpg") no-repeat scroll -103px -83px transparent;
	color: #00469b;
	font-weight: bold;
	position: relative;
	z-index: 10;
}
#mainbody .rightbar .position {
	width:755px;
	float:left;
	background:url(positionbg.gif)
}
#mainbody .rightbar .position span {
	background:url(ico_sidebar.png) no-repeat 0 -425px;
	margin-left:10px;
	height:30px;
	line-height:30px;
	padding-left:20px;
	width:200px;
	height:30px;
}
#mainbody .rightbar .registerbody {
	background-color:#FFFFFF
}
.welcomes {
	background:url(ico_sidebar.png) no-repeat 0 -218px transparent;
	overflow:hidden;
	vertical-align:middle;
	width:330px;
	height:30px;
	line-height:30px;
	padding-left:20px;
	text-align:left;
	font-size:14px;
	margin:0 250px;
	color:#0070fe;
	float: left;
	font-weight:bold
}
#mainbody .rightbar .registerbody .registerf {
	margin:0 auto;
	height:400px;
}
#mainbody .rightbar .registerbody .registerf p {
	width:700px;
	clear:both;
	height:40px;
	line-height:40px;
}
.txt {
	float:left;
	width:150px;
	text-align:right;
	padding:4px;
	margin:1px;
}
.forms {
	width:200px;
	height:30px;
	line-height:30px;
}
#registerForm input {
	float:left;
	vertical-align:middle;
	margin-top:10px;
	height:30px;
	line-height:30px;
}
#registerForm #submit {
	background:url(bottonbg.gif) no-repeat;
	text-align:center;
	width:74px;
	height:25px;
	font-family:"微软雅黑", Verdana, sans-serif;
	line-height:27px;
	font-weight:bold;
	color:#FFFFFF;
	border:0px
}
.down_step {
	text-align:left;
	margin:20px 0 20px 50px;
	color:#0070fe;
	font-weight:bold
}
.agree {
	text-align:left;
	margin:20px 0 20px 50px;
	color:#0070fe;

}
.regok {
	float:left;
	text-align:left
}
/*首页登录*/
#loginbg {
	width:200px;
	float:left;
	height:155px;
	background:url(flbg.jpg) no-repeat
}
#loginbg .loginOk {
	background: url("bgkf.gif") no-repeat scroll 0px 0px transparent;
	display:block;
	height: 25px;
	color:#f68b3a;
	line-height: 20px;
	padding-left: 20px;
	margin-left:20px;
	margin-top:2px;
	width: 156px;
}
#loginbg .txts {
	float:left;
	display:block;
	width:50px;
	text-align:right;
	height:30px;
	line-height:30px;
}
#loginbg labl {
	float:left;
	width:190px;
	height:30px;
	line-height:30px;
	clear:both;
	vertical-align:middle;
	display:block;
}
#loginbg .forms {
	width:140px;
	height:30px;
	float:left;
	line-height:30px;
	vertical-align:middle;
	display:block;
}
#loginbg input {
	float:left;
	vertical-align:middle;
	height:20px;
	line-height:20px;
	width:120px;
	display:block;
	margin:2px 0;
}
#remember_u {
	float:left;
	vertical-align:middle;
	text-align:center;
	width:190px;
	margin-left:40px;
	padding-left:0px;
	display:block;
	clear:both;
}
#loginbg #denglu {
	background:url(bottonbg.gif) no-repeat;
	text-align:center;
	width:74px;
	height:25px;
	font-family:"微软雅黑", Verdana, sans-serif;
	line-height:27px;
	font-weight:bold;
	color:#FFFFFF;
	border:0px
}
/*账户管理*/
#usernamezh {
	margin: 20px 0;
	font-weight:bold
}
#accountinfo {
	margin:20px 5px 30px 58px;
	width: 600px;
}
#accountinfo li {
	float: left;
	padding: 0px 10px;
}
.mobile_list {
	margin:0px 5px 0 68px;
	background:url(ico_sidebar.png) no-repeat 0 -290px transparent;
	overflow:hidden;
	vertical-align:middle;
	width:190px;
	height:30px;
	line-height:30px;
	padding-left:20px;
	text-align:left;
	font-size:14px;
	color:#0070fe;
	float: left;
	font-weight:bold
}
.mobile_list2 {
	margin:0px 5px 0 68px;
	background:url(ico_sidebar.png) no-repeat 0 -316px transparent;
	overflow:hidden;
	vertical-align:middle;
	width:190px;
	height:30px;
	line-height:30px;
	padding-left:20px;
	text-align:left;
	font-size:14px;
	color:#0070fe;
	float: left;
	font-weight:bold
}
.email_list {
	margin:0px 5px 0 68px;
	background:url(ico_sidebar.png) no-repeat 0 -441px transparent;
	overflow:hidden;
	vertical-align:middle;
	width:190px;
	height:30px;
	line-height:30px;
	padding-left:20px;
	text-align:left;
	font-size:14px;
	color:#0070fe;
	float: left;
	font-weight:bold
}
.email_list2 {
	margin:0px 5px 0 68px;
	background:url(ico_sidebar.png) no-repeat 0 -492px transparent;
	overflow:hidden;
	vertical-align:middle;
	width:190px;
	height:30px;
	line-height:30px;
	padding-left:20px;
	text-align:left;
	font-size:14px;
	color:#0070fe;
	float: left;
	font-weight:bold
}
.hengpai {
	display: block; width:510px;
}
.hengpai .help {
	margin:0px 5px 0 68px;
	background:url(ico_sidebar.png) no-repeat 0 -91px transparent;
	overflow:hidden;
	vertical-align:middle;
	width:130px;
	height:30px;
	line-height:30px;
	padding-left:20px;
	text-align:left;
	font-size:14px;
	color:#0070fe;
	float: left;
	font-weight:bold
}
/*账户资料管家*/
#zlgj {
	margin: 20px 20px;
}
#zlgj p {
	overflow:hidden;
	height:30px;
	line-height:30px;
	float: left;
}
#zlgj .txtedit {
	display: block;
	text-align: right;
	width: 100px;
	float:left;
}
#zlgj .inedit {
	display: block;
	height:22px;
	line-height:22px;
	text-align: left;
	float: left;
	width: 300px;
	margin: 0px;
	padding: 5px;
}
#zlgj input {
	border: 1px solid #BBBBBB;
	width: 240px;
}
#frontUserEdit #denglu {
	background:url(bottonbg.gif) no-repeat;
	text-align:center;
	width:74px;
	height:25px;
	font-family:"微软雅黑", Verdana, sans-serif;
	line-height:27px;
	font-weight:bold;
	color:#FFFFFF;
	border:0px
}
#frontUserEdit .notifyedit {
	display: block;
	height:22px;
	float:left
}
#xianshi {
	height:22px;
	line-height:22px;
}
/*账户安全管家*/
#aqgj {
	margin: 20px 20px;
}
#aqgj p {
	overflow:hidden;
	height:30px;
	line-height:30px;
	float: left;
}
#aqgj .txtedit {
	display: block;
	text-align: right;
	width: 100px;
	float:left;
}
#aqgj .inedit {
	display: block;
	height:22px;
	line-height:22px;
	text-align: left;
	float: left;
	width: 300px;
	margin: 0px;
	padding: 5px;
}
#aqgj input {
	border: 1px solid #BBBBBB;
	width: 240px;
}
#securityEdit #denglu {
	background:url(bottonbg.gif) no-repeat;
	text-align:center;
	width:74px;
	height:25px;
	font-family:"微软雅黑", Verdana, sans-serif;
	line-height:27px;
	font-weight:bold;
	color:#FFFFFF;
	border:0px
}
#securityEdit .notifyedit {
	display: block;
	height:22px;
	float:left
}
#xianshi {
	height:22px;
	line-height:22px;
}
/*账户资金管家*/
.tabmoney {
    border-bottom: 1px solid #93b5db;
    height: 29px;
    margin-top: 20px; width: 650px; margin-left: 0px;
    overflow: visible;
    padding-left: 20px;
}
.tabmoney li {
    color: #f79100;
    font-size: 14px;
    height: 27px;
    line-height: 27px;
    float:left;
    padding-top: 3px;
    text-align: center;
    width: 102px;
}
.tabmoney .line {
    background: url("bg_shortcut_line.jpg") no-repeat scroll right 7px transparent;
}
.tabmoney .curr {
    background: url("bg_regist.jpg") no-repeat scroll -103px -83px transparent;
    color: #00469b;
    font-weight: bold;
    position: relative;
    z-index: 10;
}
/*充值列表页面list.jsp*/
.productbody .productmain #productList {
	background-color:#0099FF
}
.productbody .productmain #productList td {
	font-size:12px;
	height:25px;
	padding-left:5px;
}
.productbody .productmain #productList #producthead {
	background:url("positionbg.gif") repeat scroll 0 0 transparent
}
.productbody .productmain #productList #producthead tr {
	color:#000000;
}
.productbody .productwelcome {
	background:url(ico_sidebar.png) no-repeat 0 -1042px transparent;
	overflow:hidden;
	vertical-align:middle;
	width:330px;
	height:30px;
	line-height:30px;
	padding-left:20px;
	text-align:left;
	font-size:14px;
	margin-left:75px;
	color:#00469b;
	float: left;
	font-weight:bold
}
.productbody .productmain #productList .productbuy {
	background:url("sbluemenubg.gif") no-repeat scroll 0 0 transparent;
	width:57px;
	height:28px;
	display:block;
	text-align:center;
	vertical-align:middle;
	color:#FFF;
	line-height:25px;
	font-weight:bold;
}
/*热门产品左侧common-reinfo.jsp*/
#remenbar {
	background:url("flbg2.jpg") repeat-y scroll 0 0 transparent;
	POSITION: relative;
	TEXT-TRANSFORM: uppercase;
	LIST-STYLE-TYPE: none;
	WIDTH: 220px;
	DISPLAY: block;
	FLOAT: left;
	FONT-SIZE: 12px
}
#remenbar LI {
	DISPLAY: block;
	FLOAT: left;
	COLOR: #fff;
}
#remenbar LI A {
	TEXT-ALIGN: left;
	PADDING-BOTTOM: 2px;
	PADDING-LEFT: 40px;
	WIDTH: 180px;
	PADDING-RIGHT: 0px;
	DISPLAY: block;
	FLOAT: left;
	HEIGHT: 40px;
	COLOR: #928675;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
	PADDING-TOP: 8px
}
/*购买详细页detail.jsp*/
.leftspan{
    width:210px;font-size:14px;float:left; height:30px;line-height:30px;padding-right:5px;text-align:right;
}
#buyForm ul {
	margin-left: 75px; margin-top: 30px;
}
#buyForm li {
	height:50px;
	line-height:30px;
}
#buyForm li input {
	height:20px;
	line-height:20px;
}
#buyForm .buySubmitButton {
	background:url("sbluemenubg.gif") no-repeat scroll 0 0 transparent;
	width:57px;
	height:28px;
	display:block;
	text-align:center;
	vertical-align:middle;
	color:#FFF;

	line-height:25px;
	font-weight:bold;
}
/*step1.jsp*/
.paybody .paymain .i_menu {
	height: 80px;
	line-height: 80px;
	margin-left: 40px;
	text-align: center;
	width:200px;
	float:left;
}
.paybody .paymain .i_menu a {
	margin-top:5px;
	width:210px;
	color:#ff6d00;
	display:block;
	background: url(/style/charge_menu.png) no-repeat;
}
.paybody .paymain .i_menu .charge_method_logo {
	line-height:40px;
	height:40px;
	display:block;
	float:left;
	text-align:right;
	width:100px;
	margin-top:5px;
}
.paybody .paymain .i_menu .charge_method_name {
	display:block;
	text-align:left;
}
.paybody .paymain #pic {
	width:750px;
	padding:2px;
	overflow:auto;
	zoom:1;
}
.paybody .paymain #pic ul li {
	width:120px;
	float:left;
	text-align:center;
	margin:30px 0px 0px 60px;
	display:inline;
}
.paybody .paymain #pic ul li a {
	display:block;
}
.paybody .paymain #pic ul li a img {
	padding:1px;
	border:1px solid #e1e1e1;
	margin-bottom:3px;
}
.paybody .paymain #pic ul li a:hover img {
	padding:0px;
	border:2px solid #0066cc;
}
/*step2.jsp*/
/*#czfs{	background:url("flbg2.jpg") repeat-y scroll 0 0 transparent; POSITION: relative; TEXT-TRANSFORM: uppercase; LIST-STYLE-TYPE: none; WIDTH: 220px; DISPLAY: block; FLOAT: left; FONT-SIZE: 12px}
#czfs .i_menu {  height: 60px;
     line-height: 60px;
     margin-left: 10px;
     text-align: center;width:200px;}
#czfs .i_menu a {margin-top:5px; width:210px; color:#ff6d00; display:block; background: url(/style/charge_menu.png) no-repeat; }
#czfs .i_menu .charge_method_logo {line-height:40px; height:40px; display:block; float:left; text-align:right; width:100px; margin-top:5px;}
#czfs .i_menu .charge_method_name {display:block; text-align:left;}*/
#czfs {
	background:url("flbg3.jpg") repeat-y scroll 0 0 transparent;
	POSITION: relative;
	TEXT-TRANSFORM: uppercase;
	LIST-STYLE-TYPE: none;
	WIDTH: 220px;
	DISPLAY: block;
	FLOAT: left;
	padding:2px;
	overflow:auto;
	zoom:1;
	FONT-SIZE: 12px
}
#czfs ul {
	width:180px;
	float:left;
	text-align:center;
	display:inline;
}
#czfs ul li {
	width:180px;
	float:left;
	text-align:center;
	margin:10px 0 0 4px;
	display:inline;
}
#czfs ul li a {
	display:block;
}
#czfs ul li a img {
	padding:1px;
	border:1px solid #e1e1e1;
	margin-bottom:3px;
}
#czfs ul li a:hover img {
	padding:0px;
	border:2px solid #0066cc;
}
/*bindphone*/
.mobile_form {
	margin:0 5px 0 68px;
}
.mobile_form #btn {
	background: url("bg_button_n.jpg") no-repeat scroll 0 0 transparent;
	color: #FFFFFF;
	border: 0 none;
	font-weight: bold;
	line-height: 14px;
	width:137px;
	height:24px;
	padding: 2px 0 5px 2px;
	text-decoration: none;
}
.submit_subscribe {
	background: url("bg_button_m.jpg") no-repeat scroll 0 0 transparent;
	color: #FFFFFF;
	display: block;
	border: 0 none;
	font-weight: bold;
	width:127px;
	height:24px;
	line-height: 14px;
	padding: 2px 0 5px 2px;
	margin:30px 50px;
	text-decoration: none;
}
.mobile_form2 {
	margin:0 5px 0 68px;
}
/*热门产品左侧common-ad.jsp*/
#adbar {

    POSITION: relative;
    TEXT-TRANSFORM: uppercase;
    LIST-STYLE-TYPE: none;
    WIDTH: 245px; overflow: hidden;
    DISPLAY: block;
    FLOAT: left;
    FONT-SIZE: 12px
}
#adbar LI {
    DISPLAY: block;
    FLOAT: left;
    COLOR: #fff;
    margin-left: 0px; HEIGHT: 38px; line-height: 38px;border-bottom: 1px dashed #DDDDDD;
}
#adbar LI A {
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    WIDTH: 190px;
    PADDING-RIGHT: 0px;
    DISPLAY: block;
    FLOAT: left;
    HEIGHT: 38px; line-height: 38px;

    color:#333333;
    FONT-SIZE: 12px;

    TEXT-DECORATION: none;
    PADDING-TOP: 0px
}

.inptu_cz {
    border: 1px solid #7F9DB9;
    color: #333333;
    font-family: "微软雅黑",Verdana,sans-serif;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    width: 210px;
}
/*忘记密码*/
.step {
	height: 25px;
	margin-bottom: 30px;
	margin-top: 20px;
	
	margin-left:18px;
}
.step .one {
	background: url("p5.jpg") no-repeat scroll right top #BBBBBB;
	color: #FFFFFF;
}
.step .cur {
	background: url("p2.jpg") no-repeat scroll right top #FFE6BC;
	color: #FF6600;
}
.step .two {
	background: url("p10.jpg") no-repeat scroll right top #BBBBBB;
	color: #FFFFFF;
}
.step .four {
    background: none repeat scroll 0 0 #EDEDED;
}
.step li {
	background: url("p1.jpg") no-repeat scroll right top #EDEDED;
	color: #999999;
	float: left;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	padding: 0 6px 0 5px;
}
#mainbody .rightbar .forgetbody {
	background-color:#FFFFFF
}
#mainbody .rightbar .forgetbody .forgetf {
	margin:0 auto;
	height:395px;
}
#mainbody .rightbar .forgetbody .forgetf p {
	width:700px;
	clear:both;
	height:40px;
	line-height:40px;
}


#mainbody .rightbar .forgetbodyindex ul {
	margin: 100px 100px;
	width: 700px;
}

#mainbody .rightbar .forgetbodyindex ul li {
	margin-top: 5px;
	width: 350px;
	float:left;
}
#mainbody .rightbar .forgetbody ul {
	margin: 20px 40px;
	width: 700px;
}
#mainbody .rightbar .forgetbody ul li {
	margin-top: 5px;
	width: 200px;
	float:left;
}
#mainbody .rightbar .forgetphonebody ul {
	margin: 20px 40px;
	width: 700px;
}
#mainbody .rightbar .forgetphonebody ul li {
	margin-top: 5px;
	width: 200px;
	float:left;
}
#mainbody .rightbar .forgetbody input {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    vertical-align: middle;
}
#findemailForm #submitemail{
	
	background: url("bg_button_m.jpg") no-repeat scroll 0 0 transparent;
	color: #FFFFFF;
	display: block;
	border: 0 none;
	font-weight: bold;
	width:127px;
	height:24px;
	line-height: 14px;
	padding: 2px 0 5px 2px;
	margin:30px 50px;
	text-decoration: none;
}
/*邮箱绑定结果*/
#jieguo {
	background: url("bdjg.jpg") no-repeat scroll 0% 0% transparent;
	height: 300px;
	margin: 0px auto;
	vertical-align:middle;
	text-align:center;
	padding-top:150px;
	width: 500px;
}
/*找回密码 设置新密码*/
#jieguop {
	background: url("tsxx.jpg") no-repeat scroll 0% 0% transparent;
	height: 300px;
	margin: 0px auto;
	vertical-align:middle;
	text-align:center;
	padding-top:150px;
	width: 500px;
}
#findnewpForm #saveemail{
	
	background: url("bg_button_m.jpg") no-repeat scroll 0 0 transparent;
	color: #FFFFFF;
	display: block;
	border: 0 none;
	font-weight: bold;
	width:127px;
	height:24px;
	line-height: 14px;
	padding: 2px 0 5px 4px;
	margin:30px 50px;
	text-decoration: none;
}
