.wrap950 {
	MARGIN: 0px auto; WIDTH: 950px
}
.wrap720 {
	MARGIN: 0px auto; PADDING-LEFT: 10px; WIDTH: 720px; FLOAT: left
}
.wrap220 {
	MARGIN: 0px auto; WIDTH: 220px; FLOAT: left
}
.wrap570 {
	MARGIN: 0px auto; WIDTH: 570px
}
.wrap00 {
	WIDTH: 100%
}
.clear {
	CLEAR: both
}
.Content2 {
	LINE-HEIGHT: 22px; MARGIN-BOTTOM: 10px
}
.Content2 A:link {
	COLOR: #333; TEXT-DECORATION: none
}
.Content2 A:visited {
	COLOR: #333; TEXT-DECORATION: none
}
.Content2 A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.Content2 TBODY TR TD IMG {
	VERTICAL-ALIGN: middle;
}
.red14 {
	COLOR: red; FONT-SIZE: 14px; TEXT-DECORATION: none;
}
.red14 A:link {
	COLOR: red; TEXT-DECORATION: none;
}
.red14 A:visited {
	COLOR: red; TEXT-DECORATION: none;
}
.red14 A:hover {
	COLOR: dimgray;
}
.Content_index {
	BORDER-BOTTOM: #f0f0f0 1px solid; BORDER-LEFT: #f0f0f0 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fafafa; BORDER-TOP: #f0f0f0 1px solid; BORDER-RIGHT: #f0f0f0 1px solid; PADDING-TOP: 5px;
}
.yq_col {
	TEXT-ALIGN: left;
}
.yq_col LI {
	LINE-HEIGHT: 24px; LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; FLOAT: left;
}
.yq_col LI A:link {
	COLOR: #888; TEXT-DECORATION: none;
}
.yq_col LI A:visited {
	COLOR: #888; TEXT-DECORATION: none;
}
.yq_col LI A:hover {
	COLOR: #000; TEXT-DECORATION: none;
}
UL.list_AZ {
	POSITION: relative; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(bgOFF4.gif) 50% bottom; HEIGHT: 34px; FONT-SIZE: 12px; PADDING-TOP: 0px;
}
UL.list_AZ LI {
	MARGIN: 0px; DISPLAY: block; FLOAT: left; COLOR: #fff;
}
UL.list_AZ LI A {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; PADDING-LEFT: 23px; WIDTH: 65px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(bgDIVIDER4.gif) no-repeat center bottom; FLOAT: left; HEIGHT: 20px; COLOR: #928675; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 10px;
}
UL.list_AZ LI A:hover {
	BACKGROUND: url(bgHOVER4.gif) no-repeat right top; COLOR: #04AEDA;
}
UL.list_AZ LI A.current {
	BACKGROUND-IMAGE: url(bgON4.gif); BACKGROUND-COLOR: transparent; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right top; COLOR: #04AEDA; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
UL.list_AZ LI A.current:hover {
	BACKGROUND-IMAGE: url(bgON4.gif); BACKGROUND-COLOR: transparent; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right top; COLOR: #04AEDA; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
UL.mainNav5 {
	POSITION: relative; TEXT-TRANSFORM: uppercase; LIST-STYLE-TYPE: none; WIDTH: 220px; DISPLAY: block; FLOAT: left; FONT-SIZE: 12px
}
UL.mainNav5 LI {
	DISPLAY: block; FLOAT: left; COLOR: #fff;
}
UL.mainNav5 LI A {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 40px; WIDTH: 180px; PADDING-RIGHT: 0px; DISPLAY: block;  FLOAT: left; HEIGHT: 40px; COLOR: #928675; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 8px
}
UL.mainNav5 LI A:hover {
	 COLOR: #04AEDA;
}
UL.mainNav5 LI A.current {
	BACKGROUND: url(bgON5.gif) no-repeat; COLOR: #04AEDA; FONT-SIZE: 12px; FONT-WEIGHT: bold;
}
UL.mainNav5 LI A.current:hover {
	BACKGROUND: url(bgON5.gif) no-repeat; COLOR: #04AEDA; FONT-SIZE: 12px; FONT-WEIGHT: bold;
}
.pager {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 6px;
}
#divPar {
	BACKGROUND: url(mainNav5_bg.gif) repeat-y -1px 50%;
}
.Content_index3 {
	BORDER-BOTTOM: #d7d7d7 1px solid; BORDER-LEFT: #d7d7d7 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fff; BORDER-TOP: #d7d7d7 1px solid; BORDER-RIGHT: #d7d7d7 1px solid; PADDING-TOP: 5px
}
#login {
	DISPLAY: none;
}
#login TABLE {
	WIDTH: 300px;
}
#login TABLE TD {
	HEIGHT: 30px;
}
#login TABLE TH {
	HEIGHT: 30px;
}
#login THEAD TH {
	TEXT-ALIGN: center; HEIGHT: 20px; COLOR: red;
}
#login TBODY TH {
	TEXT-ALIGN: right;
}
.ListTable {
	PADDING-BOTTOM: 8px; WIDTH: 100%;
}
.ListTable TABLE {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; WIDTH: 100%; BORDER-COLLAPSE: collapse; BORDER-TOP: #e4e4e4 1px solid; BORDER-RIGHT: #e4e4e4 1px solid;
}
.ListTable TH {
	BACKGROUND-IMAGE: url(title2_bg.gif); BORDER-BOTTOM: #e4e4e4 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #e4e4e4 1px solid; HEIGHT: 24px; COLOR: #ff6600; BORDER-TOP: #e4e4e4 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #e4e4e4 1px solid
}
.ListTable .rightCol {
	TEXT-ALIGN: right; PADDING-RIGHT: 5px;
}
.ListTable .centerCol {
	TEXT-ALIGN: center;
}
.ListTable TBODY TR {
	BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; BORDER-TOP: 0px solid; BORDER-RIGHT: 0px solid
}
.ListTable TBODY TR.odd {
	BACKGROUND: #f6f6f6;
}
.ListTable TBODY TD {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; PADDING-BOTTOM: 2px; LINE-HEIGHT: 22px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #e4e4e4 1px solid; BORDER-RIGHT: #e4e4e4 1px solid; TEXT-DECORATION: none; PADDING-TOP: 2px;
}
.ListTable TABLE TFOOT TD {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffffff 1px solid; BACKGROUND-COLOR: #ffffff; HEIGHT: 25px; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid;
}
.ListTable TD A:link {
	COLOR: #333; TEXT-DECORATION: none;
}
.ListTable TD A:visited {
	COLOR: #333; TEXT-DECORATION: none;
}
.ListTable TBODY TD A:hover {
	COLOR: red; TEXT-DECORATION: underline;
}
.ListheadTitle THEAD TH {
	BACKGROUND: #a8d3ec; COLOR: #000000;
}
.ListTable TBODY TD.tdProductListCategoryName {
	PADDING-LEFT: 20px; 
}
.tabBorder_1 {
	BORDER-BOTTOM: #ff9000 1px solid; BORDER-LEFT: #ff9000 1px solid; BORDER-TOP: #ff9000 1px solid; BORDER-RIGHT: #ff9000 1px solid;
}
#login {
	DISPLAY: none;
}
#login TABLE {
	WIDTH: 300px;
}
#login TABLE TD {
	HEIGHT: 30px;
}
#login TABLE TH {
	HEIGHT: 30px;
}
#login THEAD TH {
	TEXT-ALIGN: center; HEIGHT: 20px; COLOR: red;
}
#login TBODY TH {
	TEXT-ALIGN: right;
}
.tabBorder {
	BORDER-BOTTOM: #f5f5f5 8px solid; BORDER-LEFT: #f5f5f5 8px solid; BORDER-TOP: #f5f5f5 8px solid; BORDER-RIGHT: #f5f5f5 8px solid;
}
.tabBorder_td {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 4px;
}
.tabBgColor {
	BACKGROUND-COLOR: #e4e4e4;
}
.emailBgColor {
	BACKGROUND-COLOR: #fff8e5;
}
.white14 {
	COLOR: white; FONT-SIZE: 14px; TEXT-DECORATION: none;
}
.white14a {
	COLOR: white; FONT-SIZE: 14px; TEXT-DECORATION: none;
}
.white14 A:link {
	COLOR: white; TEXT-DECORATION: none;
}
.white14 A:visited {
	COLOR: white; TEXT-DECORATION: none;
}
.white14a A:link {
	COLOR: white; TEXT-DECORATION: none;
}
.white14a A:visited {
	COLOR: white; TEXT-DECORATION: none;
}
.white14 A:hover {
	COLOR: red;
}
.title2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; BACKGROUND: url(title2_bg.gif); HEIGHT: 24px; COLOR: #ff6600; FONT-WEIGHT: bold; PADDING-TOP: 0px;
}
.title2 A:link {
	COLOR: #000; TEXT-DECORATION: none;
}
.title2 A:visited {
	COLOR: #000; TEXT-DECORATION: none;
}
.title2 A:hover {
	COLOR: #000; TEXT-DECORATION: underline;
}
.chanpininput {
	BORDER-BOTTOM: #8b8b8b 1px solid; BORDER-LEFT: #8b8b8b 1px solid; WIDTH: 200px; BACKGROUND: #f1f1f1; HEIGHT: 20px; COLOR: #333; BORDER-TOP: #8b8b8b 1px solid; BORDER-RIGHT: #8b8b8b 1px solid;
}
.chanpintable TD {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; LINE-HEIGHT: 30px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px;
}
.chanpintable TH {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; LINE-HEIGHT: 30px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px;
}
.line {
	BACKGROUND: url(line.gif); HEIGHT: 1px;
}
.Red12_2 {
	COLOR: red; FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.BillInfoContent {
	BORDER-BOTTOM: #f5f5f5 8px solid; BORDER-LEFT: #f5f5f5 8px solid; PADDING-BOTTOM: 1px; MARGIN: 0px auto; PADDING-LEFT: 1px; WIDTH: 590px; PADDING-RIGHT: 1px; BACKGROUND: #ff9000; BORDER-TOP: #f5f5f5 8px solid; BORDER-RIGHT: #f5f5f5 8px solid; PADDING-TOP: 1px;
}
.picbox {
	MARGIN: 15px 32px 0px; FLOAT: left;
}
.picbox A {
	TEXT-ALIGN: center; MARGIN-TOP: 12px; DISPLAY: block; CLEAR: both;
}
#CombineCharge {
	COLOR: #ff6600; CURSOR: pointer; FONT-WEIGHT: bold;
}
#OneCardCharge {
	COLOR: #ff6600; CURSOR: pointer; FONT-WEIGHT: bold;
}
