BODY {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; font-family:"微软雅黑",Verdana,sans-serif;COLOR: #333333; PADDING-TOP: 0px;
}
DIV {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px;
}
FORM {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px;
}
IMG {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px;
}
UL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px;
}
OL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px;
}
LI {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px;
}
DL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px;
}
DT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px;
}
DD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px;
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	LIST-STYLE-TYPE: none;
}
A {
	COLOR: #333; TEXT-DECORATION: none;
}
A:hover {
	COLOR: #f00; TEXT-DECORATION: none;
}
.Clear {
	CLEAR: both;
}
.Red {
	COLOR: red;
}
.Green {
	COLOR: green;
}
.Wrap950 {
	MARGIN: 0px auto; WIDTH: 950px; _width: 960px;
}
#FloatTop {
	Z-INDEX: 9999; POSITION: absolute; WIDTH: 100%; BACKGROUND: url(FloatTop_BG.gif); HEIGHT: 30px;
}
#FloatTopBack {
	WIDTH: 100%; HEIGHT: 30px;
}
#FloatTop A {
	COLOR: #333; TEXT-DECORATION: none;
}
#FloatTop_Menu {
	WIDTH: 600px; FLOAT: left; HEIGHT: 30px;
}
#FloatTop_Menu UL {
	HEIGHT: 28px;
}
#FloatTop_Menu UL LI {
	POSITION: relative; LIST-STYLE-TYPE: none; MARGIN-TOP: 4px; BACKGROUND: url(FloatTop_VerticalLine.gif) no-repeat 0px 5px; FLOAT: left; FONT-SIZE: 14px; MARGIN-RIGHT: 20px;
}
#FloatTop_Menu > UL LI A {
	PADDING-LEFT: 20px; DISPLAY: block;
}
#FloatTop_Menu UL LI UL LI {
	PADDING-BOTTOM: 6px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 14px; PADDING-TOP: 6px;
}
#FloatTop_Menu UL LI.hover {
	BORDER-BOTTOM: #bbb 0px solid; BORDER-LEFT: #bbb 1px solid; BACKGROUND: white; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid;
}
#FloatTop_Menu UL LI.First {
	BACKGROUND: none transparent scroll repeat 0% 0%;
}
#FloatTop_Menu UL LI SPAN {
	BACKGROUND-IMAGE: url(FloatTop_Triangle.gif); PADDING-BOTTOM: 5px; PADDING-LEFT: 1px; PADDING-RIGHT: 20px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 90% 10px; CURSOR: pointer; PADDING-TOP: 0px;
}
#FloatTop_Menu UL LI.hover SPAN {
	Z-INDEX: 100; POSITION: relative; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: white; PADDING-LEFT: 0px; PADDING-RIGHT: 19px; PADDING-TOP: 0px;
}
#FloatTop_Menu UL LI DIV {
	BORDER-BOTTOM: #bbb 1px solid; POSITION: absolute; BORDER-LEFT: #bbb 1px solid; WIDTH: 120px; DISPLAY: none; BACKGROUND: white; BORDER-TOP: #bbb 1px solid; TOP: 23px; BORDER-RIGHT: #bbb 1px solid; LEFT: -1px;
}
#FloatTop_Menu UL LI DIV UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: auto; PADDING-TOP: 0px;
}
#FloatTop_Menu UL LI DIV UL LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; FONT-SIZE: 12px; CURSOR: pointer; FONT-WEIGHT: normal; PADDING-TOP: 0px;
}
#FloatTop_Menu UL LI DIV UL LI A {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: block; PADDING-TOP: 5px;
}
#FloatTop_Menu UL LI DIV UL LI A:hover {
	BACKGROUND-COLOR: #04AEDA; COLOR: white;
}
#FloatTop_Nav {
	WIDTH: 350px; FLOAT: right; HEIGHT: 30px;
}
#FloatTop_Nav UL {
	FLOAT: left; HEIGHT: 22px; PADDING-TOP: 5px;
}
#FloatTop_Nav UL LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(LivingHelp/FloatTop_VerticalLine.gif) no-repeat; FLOAT: left; PADDING-TOP: 0px;
}
#FloatTop_Nav UL LI.First {
	BACKGROUND: none transparent scroll repeat 0% 0%;
}
#FloatTop_Welcome {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 5px;
}
#FloatTop_Welcome SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 0px;
}
#FloatTop_Welcome SPAN B {
	COLOR: red;
}
#backSiteURL {
	POSITION: relative;
}
#backSiteURL UL {
	DISPLAY: none;
}
