@charset "utf-8";
/*** 总体样式***/
body {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: 'Microsoft YaHei';
	background-color: #fff;
	text-align: left;
	color: #666;
}

div, form, img, ul, ol, li, dl, dt, dd, p {
	padding: 0px;
	border: 0px;
	margin: 0px;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}

table, td, tr, th {
	font-size: 12px;
	border: none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
    outline:none;
}

	a:hover {
		color: #f00;
		text-decoration: none;
	}

.ClearFloat {
	clear: both;
}

.cf {
	clear: both;
	font-size: 1px;
	height: 0;
	line-height: 0;
}

.Hidden {
	display: none;
}
