.btn{
    font-size:0.32rem;
    padding:0.2rem 0.3rem;
    outline: 0;
}
.nav{
    display: block;
}
ul{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
body{
    font-size:0.24rem;
}
a,a:hover,a:active{
    text-decoration:none;
}
p{
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.ivu-spin {
    color: #e13f45;
}
.ivu-spin-fix .ivu-spin-main{
    top:180px;
}
.ivu-tabs-nav .ivu-tabs-tab-active {
    color: #dc1e25;
}
.ivu-tabs-nav .ivu-tabs-tab:hover {
    color: #dc1e25;
}
.free .ivu-spin-fix {
    position: absolute;
    top: 2rem;
    left: 0;
}
.modal-backdrop{
    z-index: 1000;
}
.modal{
    z-index: 1001;
}