**/bin
**/.svn
**/.DS_store
**/*.class
api
alsa
agp
bootstrap
boss
cloud
cloud-native
cloud-server
common-cloud
conf
cp
doc
game-*
gallery
gc
gp
im
internal
lp
lib
mgt
mh
money
nio
ocr
partner
poker
pre_lib
search
standard/script
share
spider
sps
spring-boot-starter
target/*.jar
target/native
test
ts
tuan
u3d
upgrade
vr
wallet
wpt-*
wpt/WebContent/*
