<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri Mar 01 15:01:45 CST 2013-->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>			
		<!--  flow -->
		<typeAlias alias="Route" type="com.maicard.flow.domain.Route"/>
		<typeAlias alias="RouteCriteria" type="com.maicard.flow.criteria.RouteCriteria"/>
		
		<typeAlias alias="Workflow" type="com.maicard.flow.domain.Workflow"/>
		<typeAlias alias="WorkflowCriteria" type="com.maicard.flow.criteria.WorkflowCriteria"/>
		
		<typeAlias alias="WorkflowInstance" type="com.maicard.flow.domain.WorkflowInstance"/>
		<typeAlias alias="WorkflowInstanceCriteria" type="com.maicard.flow.criteria.WorkflowInstanceCriteria"/>

		<typeAlias alias="WorkflowInstanceLog" type="com.maicard.flow.domain.WorkflowInstanceLog"/>
		<typeAlias alias="WorkflowInstanceLogCriteria" type="com.maicard.flow.criteria.WorkflowInstanceLogCriteria"/>	

		<typeAlias alias="WorkflowPrivilege" type="com.maicard.flow.domain.WorkflowPrivilege"/>
		<typeAlias alias="WorkflowPrivilegeCriteria" type="com.maicard.flow.criteria.WorkflowPrivilegeCriteria"/>	
				
	</typeAliases>
</configuration>