<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri Mar 01 15:01:45 CST 2013-->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>			
		<!--  money -->				
		<typeAlias alias="Award" type="com.maicard.money.domain.Award"/>
		<typeAlias alias="AwardCriteria" type="com.maicard.money.criteria.AwardCriteria"/>
		
		<typeAlias alias="BankAccount" type="com.maicard.money.domain.BankAccount"/>
		<typeAlias alias="BankAccountCriteria" type="com.maicard.money.criteria.BankAccountCriteria"/>
		
		<typeAlias alias="GiftCard" type="com.maicard.money.domain.GiftCard"/>
		<typeAlias alias="GiftCardCriteria" type="com.maicard.money.criteria.GiftCardCriteria"/>
		 
        <typeAlias alias="Coupon" type="com.maicard.money.domain.Coupon"/>
        <typeAlias alias="CouponCriteria" type="com.maicard.money.criteria.CouponCriteria"/>
        
        <typeAlias alias="CouponModel" type="com.maicard.money.domain.CouponModel"/>
        <typeAlias alias="CouponModelCriteria" type="com.maicard.money.criteria.CouponModelCriteria"/>	
		
		<typeAlias alias="Money" type="com.maicard.money.domain.Money"/>
		<typeAlias alias="MoneyCriteria" type="com.maicard.money.criteria.MoneyCriteria"/>

		<typeAlias alias="Refund" type="com.maicard.money.domain.Refund"/>
		<typeAlias alias="RefundCriteria" type="com.maicard.money.criteria.RefundCriteria"/>
		
		<typeAlias alias="MoneyLog" type="com.maicard.money.domain.MoneyLog"/>
		<typeAlias alias="MoneyLogCriteria" type="com.maicard.money.criteria.MoneyLogCriteria"/>

		<typeAlias alias="MoneyBalance" type="com.maicard.money.domain.MoneyBalance"/>
		<typeAlias alias="MoneyBalanceCriteria" type="com.maicard.money.criteria.MoneyBalanceCriteria"/>
		
		<typeAlias alias="MoneyExchangeRule" type="com.maicard.money.domain.MoneyExchangeRule"/>
		<typeAlias alias="MoneyExchangeRuleCriteria" type="com.maicard.money.criteria.MoneyExchangeRuleCriteria"/>
		
		<typeAlias alias="Pay" type="com.maicard.money.domain.Pay"/>
		<typeAlias alias="PayCriteria" type="com.maicard.money.criteria.PayCriteria"/>
		
		<typeAlias alias="PayChannel" type="com.maicard.money.domain.PayChannel"/>
		<typeAlias alias="PayChannelCriteria" type="com.maicard.money.criteria.PayChannelCriteria"/>

		<typeAlias alias="PayMethod" type="com.maicard.money.domain.PayMethod"/>
		<typeAlias alias="PayMethodCriteria" type="com.maicard.money.criteria.PayMethodCriteria"/>

		<typeAlias alias="PayType" type="com.maicard.money.domain.PayType"/>
		<typeAlias alias="PayTypeCriteria" type="com.maicard.money.criteria.PayTypeCriteria"/>
		
		<typeAlias alias="PayTypeProductRelationCriteria" type="com.maicard.product.criteria.PayTypeProductRelationCriteria"/>	
		
		<typeAlias alias="Price" type="com.maicard.money.domain.Price"/>
		<typeAlias alias="PriceCriteria" type="com.maicard.money.criteria.PriceCriteria"/>	
	
		<typeAlias alias="Withdraw" type="com.maicard.money.domain.Withdraw"/>
		<typeAlias alias="WithdrawCriteria" type="com.maicard.money.criteria.WithdrawCriteria"/>
		
		<typeAlias alias="WithdrawType" type="com.maicard.money.domain.WithdrawType"/>
		<typeAlias alias="WithdrawTypeCriteria" type="com.maicard.money.criteria.WithdrawTypeCriteria"/>	
		
		<typeAlias alias="WithdrawMethod" type="com.maicard.money.domain.WithdrawMethod"/>
		<typeAlias alias="WithdrawMethodCriteria" type="com.maicard.money.criteria.WithdrawMethodCriteria"/>	
		
		<typeAlias alias="PointExchange" type="com.maicard.money.domain.PointExchange"/>
		<typeAlias alias="PointExchangeCriteria" type="com.maicard.money.criteria.PointExchangeCriteria"/>	

		<typeAlias alias="PointExchangeLogCriteria" type="com.maicard.money.criteria.PointExchangeLogCriteria"/>	
						
	</typeAliases>
	
	<typeHandlers>    	
     	<typeHandler javaType="Price" jdbcType="VARCHAR"  handler="com.maicard.typeHandler.PriceJsonHandler" />
     	<typeHandler javaType="Money" jdbcType="VARCHAR"  handler="com.maicard.typeHandler.MoneyJsonHandler" />
     	<typeHandler javaType="BankAccount" jdbcType="VARCHAR"  handler="com.maicard.typeHandler.BankAccountJsonHandler" />
     </typeHandlers>     
     	
</configuration>