.entrys{
    position: relative;
    /* overflow: hidden; */
    width: auto;
    color: #444;
    font-size: 14px;
    line-height: 200%;
}
.myplayer table{
    width: 95%;
    margin: auto;
}
.myplayer table thead{
    height: 50px;
    line-height: 50px;
    background: #ffffff;
    font-weight: bold;
    font-size: 15px;
}
.myplayer table thead td{
    text-align: left;
    padding-left: 30px;
}
.myplayer table tbody{
    background: #272727;
}
.myplayer table tbody tr{
    height: 70px;
    line-height: 50px;
    text-align: left;
    color: #ffffff;
}
.tdHead{
    color: #b27436;
    padding-left: 20px;
}
/* 进度条 */
.range {
    width: 5.875rem;
    height: 0.15rem;
    background: #ffffff;
    border-radius: 0.25rem;
    -webkit-appearance: none !important;
    /*position: absolute;
    top: 3.55rem;
    left: 6rem; */
    position: absolute;
    margin: 8px;
}
/* 进度滑块 */
.range::-webkit-slider-thumb {
    width: 0.5rem;
    height: 0.5rem;
    background: #fff;
    border: 1px solid #f18900;
    cursor: pointer;
    border-radius: 0.25rem;
    -webkit-appearance: none !important;
}
.music{
   background: #222222;
   border: 5px solid #2a2a2a;
}
.music span{
    cursor: pointer;
}

/*媒体查询*/
@media screen and (max-width: 480px) {
    .myplayer table thead td{
        padding-left: 0;
    }
    .tdHead{
        padding-left: 0px; 
    }
    .range{
        width:4.875rem;
        position: relative;
        left: 0;
    }
}