.pagination {
            display: inline-block;
			overflow: hidden;
			display: none;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #428bca;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 5px 8px;
     margin-right: 0.1rem;
	/*margin-bottom: 5px; */
	min-width:1em;
	text-align:center;
}

.pagination .current {
    background: #428bca;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
