/*theme-bind-cont*/
.theme-bind-cont{
	padding-bottom:40px;
	position:relative;
}
.cont-title{
	height:120px;
	line-height:120px;
	font-size:30px;
	padding-left:105px;
}
.theme-cont{
	position:relative;
	overflow:hidden;
}
.theme-list{
	padding:0 90px;
	box-sizing:border-box;
	overflow:hidden;
	float:left;
}
.theme-list-current{
	left:0;
}
.theme-list li{
	padding:0 10px 40px;
	box-sizing:border-box;
	width:33%;
	float:left;
}
.theme-list li:nth-child(3):after{
	clear:both;
}
.theme-list li .item{
	text-align:center;
	border:#f2f2f2 solid 1px;
	border-radius:10px;
	position:relative;
	cursor:pointer;
	box-sizing:border-box;
	margin:3px;
}
.theme-list li .item .theme-img{
	width:100%;
	height:auto;
	border-radius:10px;
}
.theme-title{
	font-size:18px;
	font-weight:500;
	text-align:center;
	color:#8c8c8c;
	height:40px;
	line-height:40px;
	border-top:#f2f2f2 solid 1px;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background:#ffffff;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.theme-list li .current{
	border:#fc444e 4px solid;
	margin:0;
}
.theme-list li .current .theme-title{
	background:#fc444e;
	color:#ffffff;
}
.theme-list li .current .theme-title .theme-chose{
	position:absolute;
	transform:translate3d(0,50%,0);
	-ms-transform:translate3d(0,50%,0);
	-o-transform:translate3d(0,50%,0);
	-webkit-transform:translate3d(0,50%,0);
	bottom:20px;
	right:22px;
}
.theme-add{
	padding-bottom:42px !important;
}
.orient-left{
	position:absolute;
	left:30px;
	top:52%;
	transform:translate3d(0,-50%,0);
	-ms-transform:translate3d(0,-50%,0);
	-o-transform:translate3d(0,-50%,0);
	-webkit-transform:translate3d(0,-50%,0);
	cursor:pointer;
}
.orient-right{
	position:absolute;
	right:30px;
	top:52%;
	transform:translate3d(0,-50%,0);
	-ms-transform:translate3d(0,-50%,0);
	-o-transform:translate3d(0,-50%,0);
	-webkit-transform:translate3d(0,-50%,0);
	cursor:pointer;
}
.paginations{
	overflow:hidden;
	position:absolute;
	bottom:120px;
	left:50%;
	transform:translate3d(-50%,0,0);
	-ms-transform:translate3d(-50%,0,0);
	-o-transform:translate3d(-50%,0,0);
	-webkit-transform:translate3d(-50%,0,0);
	
}
.paginations li{
	float:left;
}
.paginations li .item{
	width:14px;
	height:14px;
	border-radius:7px;
	background:#dcdcdc;
	margin:0 5px;
}
.paginations li .current{
	background:#fc444e !important;
}
.finish-step{
	width:270px;
	margin: 55px auto;
	margin-bottom:0;
}