<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri Mar 01 18:50:09 CST 2013-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Config">

	<resultMap id="configResult" type="Config">
		<result property="configId" column="config_id"/>
		<result property="configName" column="config_name"/>
		<result property="configValue" column="config_value"/>
		<result property="configDescription" column="config_description"/>
		<result property="currentStatus" column="current_status"/>
		<result property="flag" column="flag"/>
		<result property="serverId" column="server_id"/>
		<result property="category" column="category"/>
		<result property="ownerId" column="owner_id"/>
	</resultMap>

	<insert id="insert" parameterType="Config" useGeneratedKeys="true"  keyProperty="configId">
		INSERT INTO config
			(<if test="configId>0">config_id,</if>owner_id, config_name, config_value, config_description, current_status, flag, server_id, category)
		VALUES
			(<if test="configId>0">#{configId},</if>#{ownerId}, #{configName}, #{configValue}, #{configDescription}, #{currentStatus}, #{flag}, #{serverId}, #{category})
	</insert>
	
	<sql id="selectColumns">
			config_id,
			config_name,
			config_value,
			config_description,
			current_status,
			flag,
			server_id,
			category,
			owner_id
	</sql>

	<update id="update" parameterType="Config">
		UPDATE
			config
		SET
			config_name = #{configName},
			config_value = #{configValue},
			config_description = #{configDescription},
			current_status = #{currentStatus},
			flag = #{flag},
			server_id = #{serverId},
			category = #{category},
			owner_id = #{ownerId}
		WHERE
			config_id = #{configId} 
			
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM
			config
		WHERE
			config_id = #{configId}
			AND owner_id = #{ownerId}
	</delete>
	
	<select id="select" parameterType="int" resultMap="configResult">
		SELECT
			<include refid="selectColumns"/>
		FROM
			config
		WHERE
			config_id = #{configId}
	</select>
	
	<select id="selectByName" parameterType="ConfigCriteria" resultMap="configResult">
		SELECT
			<include refid="selectColumns"/>
		FROM
			config
		<where>
			config_name = #{configName}
			<if test="serverId > 0">
				AND server_id in (#{serverId},0)
			</if>
			<if test="ownerId > 0">
				AND owner_id in (#{ownerId},0)
			</if>
		</where>
		<if test="serverId > 0">
			ORDER BY owner_id DESC, server_id DESC
		</if>
		LIMIT 1

	</select>

	<sql id="criteriaWhereClause">
		<where>
			<if test="configName != null">
				config_name=#{configName}
			</if>
			<if test="serverId > 0">
				AND server_id=#{serverId}
			</if>
			<if test="category != null and category.length &gt; 0 ">
				AND category in 
				<foreach item="item" collection="category" open="(" separator="," close=")">
	        			#{item}
	  			</foreach>				
	  		</if>
			<if test="ownerId > 0">
				AND owner_id in (#{ownerId},0)
			</if>
			<if test="currentStatus != null">
				AND current_status in 
				<foreach item="item" collection="currentStatus" open="(" separator="," close=")">
	        			#{item}
	  			</foreach>				
	  		</if>
		</where>
	</sql>


	<select id="list" parameterType="ConfigCriteria" resultMap="configResult">
		SELECT
			<include refid="selectColumns"/>
		FROM
			config
		<include refid="criteriaWhereClause"/>
		ORDER BY
			category, owner_id, config_name
	</select>

	<select id="count" parameterType="ConfigCriteria" resultType="int">
		SELECT
			COUNT(*)
		FROM
			config
		<include refid="criteriaWhereClause"/>
	</select>

</mapper>