<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri Mar 01 15:01:45 CST 2013-->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>			
		<!--  message bus -->
		<typeAlias alias="UserMessage" type="com.maicard.mb.domain.UserMessage"/>
		<typeAlias alias="MessageCriteria" type="com.maicard.mb.criteria.MessageCriteria"/>
		
		<typeAlias alias="MessageType" type="com.maicard.mb.domain.MessageType"/>
		<typeAlias alias="MessageTypeCriteria" type="com.maicard.mb.criteria.MessageTypeCriteria"/>
		
		<typeAlias alias="SubscribeMessage" type="com.maicard.common.domain.EisMessage"/>
		
		<typeAlias alias="EisTopic" type="com.maicard.mb.domain.EisTopic"/>
		<typeAlias alias="EisTopicCriteria" type="com.maicard.mb.criteria.EisTopicCriteria"/>
				
		<typeAlias alias="UserSubscribeMessageRelation" type="com.maicard.mb.domain.UserMessageRelation"/>
		<typeAlias alias="UserSubscribeMessageRelationCriteria" type="com.maicard.mb.criteria.UserSubscribeMessageRelationCriteria"/>

		<typeAlias alias="UserSubscribeStatus" type="com.maicard.mb.domain.UserSubscribeStatus"/>
		<typeAlias alias="UserSubscribeStatusCriteria" type="com.maicard.mb.criteria.UserSubscribeStatusCriteria"/>
		
	</typeAliases>
</configuration>